<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright">
      <a th:href="${site.url}" th:text="${site.title}"></a> ©
      <th:block
        th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}"
      ></th:block>
    </section>
    <nav class="site-footer-nav">
      <a href="http://localhost:8091">Latest Posts</a>
      <a href="https://www.facebook.com/ghost" target="_blank" rel="noopener"
        >Facebook</a
      >
      <a href="https://twitter.com/tryghost" target="_blank" rel="noopener"
        >Twitter</a
      >
      <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
      <a href="https://halo.run" target="_blank" rel="noopener">Halo</a>
    </nav>
  </div>
</footer>
