<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:class="${theme.config.custom.color_scheme}"
  th:replace="~{default :: html(template = 'home-template', title = ${site.title},  content = ~{::content})}">
<th:block th:fragment="content">
  <div th:class="|site-header-content outer ${theme.config.index.header_style}|">
    <th:block th:if="${theme.config.index.show_publication_cover}">
      <img class="site-header-cover" sizes="100vw" th:src="@{${theme.config.index.cover_image}}"
        th:alt="${site.title}" />
    </th:block>
    <div class="site-header-inner inner" th:if="${theme.config.index.header_style} != 'hidden'">
      <th:block th:if="${theme.config.custom.navigation_layout} == 'left-logo'">
        <img class="site-logo" th:if="${not #strings.isEmpty(site.logo)}" th:src="${site.logo}"
          th:alt="${site.title}">
        <h1 class="site-title" th:if="${#strings.isEmpty(site.logo)}" th:text="${site.title}">{{@site.title}}</h1>
      </th:block>
      <p class="site-description" th:if="${not #strings.isEmpty(site.subtitle)}" th:text="${site.subtitle}">{{@site.description}}</p>
    </div>
  </div>
  <main id="site-main" class="site-main outer">
    <div class="inner posts">
      <div class="post-feed">
        <th:block th:each="post,iterStat : ${posts.items}">
          <th:block th:replace="~{partials/post-card :: post-card(${post})}" />
        </th:block>
      </div>
    </div>
  </main>
</th:block>
</html>