<!DOCTYPE html>
<html lang="en" th:fragment="html (title,content)">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title th:text="${title}"></title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" th:href="@{/assets/built/screen.css}" />

    <meta name="referrer" content="no-referrer-when-downgrade" />

    <meta property="og:site_name" th:content="${site.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" th:content="${site.title}" />
    <meta property="og:description" th:content="${site.subtitle}" />
    <meta property="og:url" th:content="${site.url}" />

    <meta property="article:publisher" content="https://www.facebook.com/ghost" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" th:content="${site.title}" />
    <meta name="twitter:description" th:content="${site.subtitle}" />
    <meta name="twitter:url" th:content="${site.url}" />

    <meta name="twitter:site" content="@tryghost" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="666" />
    <link rel="stylesheet" type="text/css"
        th:href="|/themes/halo-theme-casper/assets/prism/css/prism-${theme.config.general.code_pretty}.css|" />
    <script type="text/javascript" th:src="@{/assets/prism/js/prism.js}"></script>
</head>

<body class="bg-slate-50 dark:bg-slate-900">


    <section class="container mx-auto mt-6 grid grid-cols-4 gap-6">
        <div class="z-0 col-span-4 sm:col-span-3">
            <th:block th:replace="${content}" />
        </div>
    </section>

</body>

</html>