<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{layout :: html(title = |链接 - ${site.title}|,  content = ~{::content})}">
<th:block th:fragment="content">
    <header class="site-header outer">
        <div class="inner">
            <th:block th:replace="~{partials/site-nav}"></th:block>
        </div>
    </header>
    <main id="site-main" class="site-main outer">
        <div class="inner">

            <article class="post-full post page ">

                <header class="post-full-header">
                    <h1 class="post-full-title">友情链接</h1>
                </header>
                <th:block th:if="${theme.config.general.links_cover}">
                    <figure class="post-full-image"
                        th:style="|background-image: url(${theme.config.general.links_cover})|">
                    </figure>
                </th:block>

                <section class="post-full-content">
                    <th:block th:each="group : ${groups}">
                        <div class="post-content">
                            <ul th:each="link : ${group.links}">

                                <li>
                                    <a th:href="${link.spec.url}" target="_blank"
                                        th:text="${link.spec.displayName}"></a>
                                    <th:block th:text="${link.spec.description}"></th:block>

                                </li>

                            </ul>
                        </div>
                    </th:block>

                </section>

            </article>

        </div>
    </main>
    <th:block th:if="${posts.total gt 0}">
        <script>
            // maxPages is a global variable that is needed to determine
            // if we need to load more pages for the infinitescroll, or if
            // we reached the last page already.
            var maxPages = parseInt(document.querySelector(".total").getAttribute("data-total"));
        </script>
        <script th:src="@{/assets/built/infinitescroll.js}"></script>
    </th:block>

</th:block>

</html>