<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(title = |标签 - ${site.title}|,  content = ~{::content})}"
>
  <th:block th:fragment="content">
    <header
      class="site-header outer"
      th:style="|background-image: url(${theme.config.general.cover})|"
    >
      <div class="inner">
        <th:block th:replace="~{partials/site-nav}"></th:block>
        <div class="site-header-content">
          <h1 class="site-title">
            标签：<th:blcok th:text="${tag.spec.displayName}"></th:blcok>
          </h1>
          <h2 class="site-description">
            <th:block th:text="|共有${tag.postCount}文章|"></th:block>
          </h2>
        </div>
      </div>
    </header>
    <main id="site-main" class="site-main outer">
      <div class="inner">
        <div class="post-feed">
          <th:block th:each="post : ${posts.items}">
            <th:block
              th:replace="~{partials/post-card :: post-card(${post})}"
            />
          </th:block>
        </div>
      </div>
    </main>
    <th:block th:if="${posts.total gt 0}">
      <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt(
          document.querySelector(".total").getAttribute("data-total"),
        );
      </script>
      <script th:src="@{/assets/built/infinitescroll.js}"></script>
    </th:block>
  </th:block>
</html>
